    /* تنسيقات CSS للهيدر */
    
    .search-container {
        display: flex;
        align-items: center;
    }
    
    .search-input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        width: 200px;
        margin-left: 8px;
    }
    
    .header-right {
        display: flex;
        align-items: center;
    }
    /* تنسيقات CSS للجرس والبروفايل */
    
    .notification-wrapper,
    .profile-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 20px;
        color: #1e2133
    }
    
    .notification-wrapper:hover {
        color: rgb(140, 191, 254);
        z-index: 2;
    }
    
    .icon {
        font-size: 20px;
    }
    
    .notification-count {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: rgb(24, 42, 86);
        color: white;
        border-radius: 50%;
        padding: 4px 6px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
    }
    
    .notification-count:hover {
        transform: scale(1.1, 1.1);
    }
    /* تنسيقات CSS لقوائم الإشعارات والبروفايل */
    
    .notification-dropdown,
    .profile-dropdown {
        display: none;
        position: absolute;
        top: calc(100% + 5px);
        right: 0;
        background-color: white;
        color: black;
        min-width: 200px;
        padding: 10px;
        z-index: 2;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        /* تحديثات الأنيميشن */
        transform: translateY(-10px);
        /* الانطلاق من أعلى الشاشة */
    }
    
    .notification-wrapper .notification-dropdown,
    .profile-wrapper .profile-dropdown {
        display: block;
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
        z-index: 2;
        /* حركة هبوط القائمة */
    }
    /* لون الروابط العادي */
    
    .profile-info a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 5px 10px;
    }
    /* لون الروابط عند التحوم */
    
    .profile-info a:hover {
        color: darkblue;
        transition: transform 0.3s ease-in-out;
    }
    
    .notification-dropdown div,
    .profile-dropdown div {
        padding: 8px 0;
    }
    
    .notification-dropdown hr,
    .profile-dropdown hr {
        border: 0.5px solid #aaa;
        margin: 5px 0;
    }
    
    .profile-info div {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    .sidebar-sublink-header {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .sidebar-sublink-header:hover {
        background-color: transparent;
    }
    
    .arrow-icon {
        transition: transform 0.3s ease;
    }
    
    .sidebar-sublist {
        list-style-type: circle;
        padding-left: 40px;
        display: block;
    }
    
    .gray-background {
        background-color: #1e2133;
    }
    
    .sublink {
        display: block;
        padding: 9px;
        text-decoration: none;
        color: #8d8d8d;
        transition: transform 2.3s ease;
    }
    
    .sublink:hover {
        padding-left: 12px;
        transition: transform 0.3s ease-in-out;
    }
    /* إظهار الروابط الفرعية عندما يكون الرابط الرئيسي مفتوحًا */
    
    .sidebar-list-item .sidebar-sublist {
        display: block;
        border-left: 1px solid rgb(164, 164, 164);
        margin: 10px 0px 0px 10px;
    }
    /* تغيير اتجاه السهم عند فتح وإغلاق الروابط الفرعية */
    
    .sidebar-list-item:hover .arrow-icon {
        transform: rotate(90deg);
    }
    
    .main-product {
        color: #8d8d8d;
    }
    
    body {
        scrollbar-width: thin;
        /* For Firefox */
        scrollbar-color: #ccc transparent;
        /* For Firefox */
    }
    
    .sidebar-responsive {
        max-height: 100vh;
        overflow-y: auto;
    }
    
     ::-webkit-scrollbar {
        width: 8px;
    }
    
     ::-webkit-scrollbar-track {
        background: transparent;
    }
    
     ::-webkit-scrollbar-thumb {
        background-color: rgb(54, 65, 85);
        border-radius: 10px;
        border: 2px solid transparent;
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background-color: rgb(53, 56, 82);
    }